
.icon-logout:before { content: '\e800'; } /* '' */
.icon-off:before { content: '\e801'; } /* '' */
.icon-fast-forward:before { content: '\e802'; } /* '' */
.icon-fast-backward:before { content: '\e803'; } /* '' */
.icon-to-start:before { content: '\e804'; } /* '' */
.icon-to-end:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-print:before { content: '\e80a'; } /* '' */
.icon-doc-new:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-flashlight:before { content: '\e80d'; } /* '' */
.icon-cw:before { content: '\e80e'; } /* '' */
.icon-right-dir:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-align-justify:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-updown-circle:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-up-open:before { content: '\e817'; } /* '' */
.icon-resize-vertical:before { content: '\e818'; } /* '' */
.icon-down:before { content: '\e819'; } /* '' */
.icon-up:before { content: '\e81a'; } /* '' */
.icon-stop:before { content: '\e81b'; } /* '' */
.icon-flash:before { content: '\e81c'; } /* '' */
.icon-bell:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */